table{
    background: #cddcde;
    opacity: 0.9;
    background-position: center center;
    
    width: 1000px;
 
}
body{
    background: #cddcde;
    opacity: 0.9;
    background-position: center center;
    width: 1000px;   
}